body{
    background-image: url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    
}

#div-img{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div img{
    width: 165px;
    height: 190px;
    transform: scaleX(-1);
}